.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.flex-item{
    font-size: 1.25em;
    text-align: center;
    flex-grow: 1;

    width: 200px;
    margin: 5px;
}

.flex-img {
    width: 100%;
}