<ion-header>
  <ion-toolbar>
    <ion-title>Imgur Flex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="searchbar">
    <ion-label position="floating">Search</ion-label>
    <ion-input (keyup.enter)="goSearch()" [(ngModel)]="query"></ion-input>
  </ion-item>

  <div class="flex-container" *ngIf="items">
    <div class="flex-item" *ngFor="let item of items">
      <!-- <div class="imgur-item">
        <div class="imgur-item-header">
          <ion-card-title>{{ item.title }}</ion-card-title>
        </div> -->
        <!-- <ion-img class="imgur-image" [src]="item.linkMedium" [alt]="item.name"></ion-img> -->
        <ion-img class="flex-img" src="{{item.linkThumbnail}}" alt="{{item.title}}"></ion-img>
        <div class="imgur-item-header">{{item.title}}</div>
      <!-- </div> -->
    </div>
  </div>
</ion-content>
