<div>
  <div class="main-comment">
    <ion-chip outline="true" color="primary">
      <ion-avatar>
        <ion-img class="commenter-avatar" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
      </ion-avatar>
      <ion-label class="author-name">{{comment.author}}</ion-label>
    </ion-chip>

    <ion-item class="comment" *ngIf="!this.commentIsImage">
      <ion-text>{{comment.comment}}</ion-text>
    </ion-item>

    <ion-img class="comment-img" *ngIf="this.commentIsImage" [src]="this.comment.comment">
    </ion-img>

    <mat-video class="comment-img" *ngIf="commentIsVideo" src="{{comment.comment"></mat-video>


    <div class="comment-info">
      <ion-chip class="up-down">{{comment.ups}} ups</ion-chip>
      <ion-chip class="up-down">{{comment.downs}} downs</ion-chip>
      <ion-chip class="replies">{{comment.children.length}} replies</ion-chip>
    </div>
  </div>
  <div class="child-comments-container">
    <div class="child-comments" *ngFor="let child of comment.children">
      <imgur-comment [comment]="child" [isChild]="true"></imgur-comment>
    </div>
  </div>
</div>