.comment-info {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-bottom: 1px white solid;
}

.up-down {
  // float: right;
}

.author {
  align-self: flex-start;
  color: var(--ion-color-primary);
}

$background: var(--ion-background-color);
$darker-background: darken($background, 20% );
.child-comments-container {
  // background: var(ion-color-light-tint);
  background: red;
  background: $darker-background;
}

.child-comments {
  margin-left: 10px;
  border-left: 1px var(--ion-color-secondary) solid;
  background: var(--ion-background-color);
}
