.comment-info {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-bottom: 1px white solid;
}

.up-down {
  // float: right;
}

.author {
  align-self: flex-start;
  color: var(--ion-color-primary);
}

.child-comments-container {
  background: var(--ion-color-step-100);
}

.child-comments {
  margin-left: 10px;
  background: var(--ion-color-step-50);
}
