<ion-header>
  <ion-toolbar>
    <ion-title>Imgur Search</ion-title>
    <ion-icon slot="start" name="search-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="searchbar">
    <ion-label position="floating">Search</ion-label>
    <ion-input (keyup.enter)="goSearch()" [(ngModel)]="query"></ion-input>
  </ion-item>

  <ion-virtual-scroll [items]="items" approxItemHeight="600px">
    <div class="item-container" *virtualItem="let item; let itemBounds = bounds;">
      <ion-text color="primary"><p class="item-text" text-wrap>{{item.title}}</p></ion-text>
      <ion-img class="item-image fill-height" src="{{item.linkHugeThumbnail}}" alt="{{item.name}}"
       routerLink="/imgur-image-details/" [queryParams]="{hash: item.id}" [state]="item"></ion-img>

      <ion-grid class="item-info">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col>
            <ion-button color="primary">
              <ion-icon slot="start" name='arrow-up-circle-outline'></ion-icon>
              {{item.points}} Points
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary">
            <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
              {{item.comment_count}} Comments
            </ion-button>
          </ion-col>
          <ion-col class="item-images-count">
            <ion-note>
              {{item.images_count}} {{item.images_count > 1 ? 'Images': 'Image'}}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-virtual-scroll>
</ion-content>
