/* Each item height must be known roughy; required by virtual-scroll.
0. available height is 596px.   596px total
1. Title: two lines of text.     45 + 16x2 = 77px
2. Image: remaining height.     535px
*/
.item-container{
    // height: 596px;
    // max-height: 596px;
    min-height: 596px;
    --item-padding: 10px;
    border-bottom: 1px var(--ion-color-primary) solid;
}
.item-text{
    text-overflow: ellipsis;
    font-size: 16px;
    max-height: 45px;
    padding: 0px var(--item-padding);
    overflow: hidden;
}

ion-img.item-image::part(image) {
    // border: 1px solid red;
    object-fit: cover;
    max-height: 481px;
    padding: 0px;
    //fill-height
    min-height: 481px;
    width: 100%;
    //fill-height
}
.item-info {
    font-size: .75em;
    max-height: 54px;
    // take padding-left and right from default values
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.item-images-count {
    margin-left: 15px;
}
.yellow-border{
    border: 1px solid yellow !important;
}
.purple-border{
    border: 1px solid purple !important;
}

/*
todo-list
add spinner, on loading.
add failed to load message. maybe check internet connection.
*/