<ion-header>
  <ion-toolbar>
    <ion-title>Imgur Search</ion-title>
    <ion-icon slot="start" name="search-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="searchbar">
    <ion-label position="floating">Search</ion-label>
    <ion-input (keyup.enter)="goSearch()" [(ngModel)]="query"></ion-input>
  </ion-item>

  <ion-virtual-scroll [items]="items" approxItemHeight="600px">
    <div class="item-container" *virtualItem="let item; let itemBounds = bounds;">
      <ion-text color="primary"><p class="item-text" text-wrap>{{item.title}}</p></ion-text>
      <ion-img class="item-image fill-height" src="{{item.linkHugeThumbnail}}" alt="{{item.name}}"
       routerLink="/imgur-image-details/" [queryParams]="{hash: item.id}" [state]="item"></ion-img>

      <div class="item-info">
        <ion-chip color="primary">
          <ion-icon slot="start" name='arrow-up-circle-outline'></ion-icon>
          <ion-label>{{item.points}} Points</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
          <ion-label>{{item.comment_count}} {{item.comment_count > 1 ? 'Comments' : 'Comments'}}</ion-label>
        </ion-chip>
        <ion-chip color="tertiary">
          <ion-label>{{item.images_count}} {{item.images_count > 1 ? 'Images': 'Image'}}</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-virtual-scroll>
</ion-content>
