<ion-header>
  <ion-toolbar>
    <ion-title>map-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button color="danger" expand="block" (click)="startGeoLocations()" *ngIf="!isTracking">Start Geo</ion-button>
  <ion-button color="danger" expand="block" (click)="stopGeoLocations()" *ngIf="isTracking">Stop Geo</ion-button>

  <div class="map-element" #mapElement></div>

  <!-- <ion-list>
    <ion-item *ngFor="let location of locationService.locations">
      <ion-text>long: {{location.position.longitude}}, lat: {{location.position.latitude}}</ion-text>
      <ion-item>
        <ion-text>{{location.datetime.toDate()}}</ion-text>
      </ion-item>
    </ion-item>
  </ion-list> -->

</ion-content>
