<ion-header>
  <ion-toolbar>
    <ion-title>Imgur Image Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <ion-virtual-scroll *ngIf="item.images" [items]="item.images" approxItemHeight="500px"> -->
  <ion-list>
    <ion-grid class="images-grid">
      <ion-row *ngFor="let image of item.images">
        <ion-col class="images-column">
        <div *ngIf="image.type==='video/mp4'">
            <video controls (click)="toggleVideo()" #videoPlayer class="video"
            poster="{{image.linkHugeThumbnail}}">
                <source src="{{image.link}}" type="video/mp4" />
                Browser not supported
            </video>
        </div>
        <ion-img *ngIf="image.type!='video/mp4'" [src]="image.link" (click)="onImageClick($event)"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <!-- tags -->
  <div class="tags-container">
    <div class="tag-item" *ngFor="let tag of item.tags">
      <ion-chip>
        <ion-label [style.background-image]="getTagImage(tag)">{{tag.display_name}}</ion-label>
      </ion-chip>
    </div>
  </div>
  <!-- views count -->
  <ion-item>
    <ion-note>{{item.views}} views</ion-note>
    <ion-text>{{ item.title }}</ion-text>
  </ion-item>
  <!-- comments -->
  <ion-list>
    <ion-item>
      <ion-label>Sort</ion-label>
      <ion-select [(ngModel)]="sort">
        <ion-select-option value="best">Best</ion-select-option>
        <ion-select-option value="top">Top</ion-select-option>
        <ion-select-option value="new">New</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item *ngFor="let comment of comments">
      <ion-text>{{comment.comment}}</ion-text>
    </ion-item> -->
    <div *ngIf="comments">
      <div *ngFor="let comment of comments">

        <ion-chip outline="true" color="primary">
          <ion-avatar>
            <ion-img class="commenter-avatar" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
          </ion-avatar>
          <ion-label class="author-name">{{comment.author}}</ion-label>
        </ion-chip>

        <ion-item class="comment">
          <ion-text>{{comment.comment}}</ion-text>
        </ion-item>
            
        <div class="comment-info">
          <ion-chip class="up-down">{{comment.ups}} ups</ion-chip>
          <ion-chip class="up-down">{{comment.downs}} downs</ion-chip>
          <ion-chip class="replies">{{comment.children.length}} replies</ion-chip>
        </div>

      </div>
    </div>
  </ion-list>
</ion-content>
